@page
@model Counter

<form method="post">
    <input type="text" id="number" name="number" value="Model.Value" />
    <button class="btn btn-default" onclick="Model.Increment()">Increment</button>
</form>